<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CERTIFICATE</title>
</head>
<style>
  table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
  }

  thead {
    background-color: rgb(241, 241, 241);
  }
  @media print {
      .hide-in-print {
        display: none;
      }
    }
</style>

<body>
  <table border style="margin: auto; width: 100%;">
    <thead>
      <th><img style="width:200px" src="./AtecoLogoTransparent.png" alt=""></th>
      <th>
        <div>
          <h2
            style=" font-size: medium; font-weight: bold; color: green; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Welder / Welder operator performance Qualification Record</h2>
          <h3
            style=" font-size: medium; font-weight: bold; color: black; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Client A</h3>
        </div>
      </th>
      <th><img style="width:100px" src="./profilepic.jfif" alt=""></th>
      <th><img style="width:150px" src="./iqama.jpg" alt=""></th>
    </thead>

  </table>
  <table style="margin: auto; width: 100%; border-collapse: collapse; border: 1px solid black;">
    <tbody>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tr>
        <td style="border: 1px solid black; font-weight: bold;">Welder's/Welder Operator's Name</td>
        <td style="border: 1px solid black;">MUHAMMAD YASEEN</td>
        <td style="border: 1px solid black;font-weight: bold;">Identification of WPS/PQR</td>
        <td style="border: 1px solid black;">AK12800600</td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">Iqama / ID No</td>
        <td style="border: 1px solid black;">GasWPS002REV002</td>
        <td style="border: 1px solid black;font-weight: bold;">Qualification Standard</td>
        <td style="border: 1px solid black;">AK12800600</td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">Welder ID No</td>
        <td style="border: 1px solid black;">GasWPS002REV002</td>
        <td style="border: 1px solid black;font-weight: bold;">Base Metal Specification</td>
        <td style="border: 1px solid black;">AK12800600</td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">WTA Ref No</td>
        <td style="border: 1px solid black;">GasWPS002REV002</td>
        <td style="border: 1px solid black;font-weight: bold;">Joint Type</td>
        <td style="border: 1px solid black;">AK12800600</td>
      </tr>
      <tr>
        <td style="border: 1px solid black;font-weight: bold;">Date of Test</td>
        <td style="border: 1px solid black;">GasWPS002REV002</td>
        <td style="border: 1px solid black;font-weight: bold;">Wield Type</td>
        <td style="border: 1px solid black;">AK12800600</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th style="border: 1px solid black; font-weight: bold;">Welder variables</th>
        <th style="border: 1px solid black; font-weight: bold;">Actual Values</th>
        <th style="border: 1px solid black; font-weight: bold;" colspan="2">Range Qualified</th>
      </tr>
    </thead>
    </tbody>
    <tbody style="text-align: center">
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Welder Process(es)</td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Types of Welder (manual/semi auto)
        </td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Bracking (With/without)</td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Types of wield</td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Product Types(Plate or Pipe)</td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Diameter of Pipe</td>
        <td style="text-align: left; border: 1px solid black;;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Base Metal P Number to P Number</td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Filler Metal or electrode sopecification
        </td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Filler Meta F-Number(S)</td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Filer Metal addition/Deletion (GTAW/PAW)
        </td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Consumable Insert (GTAW or PAW)</td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black; font-weight: bold;">
          Deposit thickness for each process
        </td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Welder position</td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Vertical Progression</td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">Type of Fuel Gas(OFW)</td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Insert gas backing(GTAW,PAW,GMAW)
        </td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Transfer Mode( spary,globulat or pulse to sort circuit-GMAW)
        </td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
      <tr>
        <td style="text-align: left; border: 1px solid black;font-weight: bold;">
          Current Type/Polarity(AC,DCEP,DCEN)
        </td>
        <td style="text-align: left; border: 1px solid black;">SMAW</td>
        <td style="text-align: left; border: 1px solid black;" colspan="2">1234</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th style=" font-weight: bold;">Test Conducted/ Type of Test</th>
        <th style=" font-weight: bold;">Report No</th>
        <th style="font-weight: bold;" colspan="2">Results</th>
      </tr>
    </thead>
    <tbody style="text-align: center; border: 1px solid black;">
      <tr style="height: 10px; ">

        <td>
          <div style="display: flex; flex-direction: column; gap: 5px; justify-content: center;">
            <h4>  Virtual Inspector</h4>
            <h4>NOT - Radiography</h4>
            <h4>Mechanical Test</h4>
          </div>
       
          
        </td>
        <td style="text-align: center;">
          <div style="display: flex; gap: 10px; justify-content: center;">
            <input type="checkbox" name="" id="" >
            <h6>_____________________________________</h6>
          </div>
          <div style="display: flex; gap: 10px; justify-content: center;">
            <input type="checkbox" name="" id="" >
            <h6>_____________________________________</h6>
          </div>
          <div style="display: flex; gap: 10px; justify-content: center;">
            <input type="checkbox" name="" id="" >
            <h6>_____________________________________</h6>
          </div>

        </td>
        <td>
          <div style="display: flex; gap: 10px; justify-content: end;">
          
            <h6>_____________________________________</h6>
          </div>
          <div style="display: flex; gap: 10px; justify-content: end;">
          
            <h6>_____________________________________</h6>
          </div>
          <div style="display: flex; gap: 10px; justify-content: end;">
          
            <h6>_____________________________________</h6>
          </div>
        </td>
      </tr>

    </tbody>
    <thead>
      <tr>
        <th colspan="4">    <p style="font-size: 11px;">We, the undersigned, certify that the statements in the record are correct and that the test coupons were welded and tested in accordance with the requirements of <span style="color: rgb(0, 131, 254); font-weight: bold;">ASME SEC-EE 2021 Edition</span>.</p></th>
      </tr>
    </thead>
   
  </table>
  <table style="width: 100%; border-collapse: collapse;">
    <tbody>
        <tr>
            <td style="padding: 20px; ">
                <div style="display: flex; flex-direction: column; gap: 20px; position: relative; top: -31px;">
                  <p style="font-weight: bold; font-size: 13px; width: 300px; ">For ATECO  Arabian Testing Evolution Company</p>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                     
                        <span style="font-weight: bold;">Testing Witnessed / Welder Inspector</span>
                        <span style="text-decoration: underline;">____________________</span>
                    </div>
              
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <span style="font-weight: bold;">Test Supervisor / Technical Manager</span>
                        <span style="text-decoration: underline;">____________________</span>
                    </div>
                  
                </div>
            </td>
            <td style="padding: 20px; ">
                <div style="display: flex; flex-direction: column; gap: 20px; ">
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <span style="font-weight: bold; ">Client Name:</span>
                        <span style="text-decoration: underline;">____________________</span>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <span style="font-weight: bold;">Client Signature:</span>
                        <span style="text-decoration: underline;">____________________</span>
                    </div>

                    <div style="display: flex; justify-content: end; align-items: center; background-color: rgb(223, 223, 223); width: 100%;">
                      <p >To verify the information about the certificate. Please scan the QR code using any QR scan app</p>
                      <img width="90px" src="./qr.png" alt="">
                     
                    </div>
          
                </div>
            </td>
        </tr>
        <td colspan="4">
          <img style="width: 100%; height: 30px;" src="./addresspic.png" alt="">
          <!-- <p style="text-align: center;">Address : شارع الزین العابدین, Ar Rabiyah, Dammam 32437,Saudi Arabia  | Email :<span style="color: blue;"> Inspection@atecosaudia.com</span></p>  <a class="hide-in-print" href="#" onclick="window.print(); return false;" style="text-decoration: none; background-color: red; color: white; padding: 2px;">Download PDF</a></td> -->
    </tbody>
</table>

<a class="hide-in-print" href="#" onclick="window.print(); return false;" style="text-decoration: none; background-color: red; color: white; padding: 2px;">Download PDF</a>

</body>

</html>