<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>Document</title>
    <style>
      * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 600;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    border: 2px black solid;
    padding: 5px;
}

.signatures p {
    white-space: nowrap;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 80px; width: 120px
}
form{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
input {
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
    border: 0;
    padding: 4px 8px;
    margin-bottom: 4px;
}

button {
    background-color: #14ab55;
    color: white;
    padding: 4px 8px;
    border: 0;
    margin-top: 5px;
    border-radius: 4px;
}
    </style>
  </head>
  <body>
    <div style="width: fit-content">
      <div style="border: 2px black solid; margin: 2px">
        <div style="border: 2px black solid;display: flex; justify-content: space-between; align-items: center; flex-direction: row-reverse;" >
          <img style="width: 200px; height: 150px;" class = "logo" src="/images/logo.png"> 
          <p style="text-align: center">
            Welder Qualification Test Record Sheet 
          </p>
        <p>ATECO-WQT-DOC#001 REV 00</p>
        
        </div>
        <div style="display: flex; flex-direction: column-reverse;">
          <table>
            <thead>
              <tr>
                <th>Welder ID</th>
                <th>Welder Name</th>
                <th>Iqama Number</th>
                <th>Test Coupon ID</th>
                <th>Date of Inspection</th>
                <th>Welding Process(es)</th>
                <th>Type of welding (manual/ semi-auto)</th>
                <th>Backing (with /without)</th>
                <th>Type of Weld/Joint</th>
                <th>Thickness</th>
                <th>Product Type (Plate or Pipe)</th>
                <th>Diameter of Pipe</th>
                <th>Base Metal P Number</th>
                <th>Filler Metal or electrode specification(s) (SFA)</th>
                <th>Filler Metal F-Number (S)</th>
                <th>Filler Metal addition/Deletion ( GTAW / PAW)</th>
                <th>Deposit thickness for each process</th>
                <th>Welding Position (s)</th>
                <th>Vertical Progression (s)</th>
                <th>Type of Fuel Gas (OFW)</th>
                <th>Inert gas backing (GTAW, PAW, GMAW)</th>
                <th>Transfer Mode (spray, globular, or pulse to sort circuit-GMAW)</th>
                <th>Current Type I Polarity (AC. DCEP, DCEN)</th>
                <th>Voltage</th>
                <th>Current</th>
                <th>Travel Speed</th>
                <th>InterPass Temperature</th>
                <th>Pre Heat (If Applicable)</th>
                <th>Post Weld Heat Treatment (If Applicable)</th>
                <th>Result Status</th>
             
              </tr>
            </thead>
            <tbody id="data-table-body">
            
              <tr>
            <td> <input required type="text" id="welder-id" name="welder_id" /></td>
            <td> <input type="text" id="welder-name" name="welder_name" /></td>
            <td><input type="text" id="iqama-number" name="iqama_no" /> </td> 
            <td><input type="text" id="test-coupon-id" name="test_coupon_id" /></td> 
            <td> <input type="text" id="date-of-inspection" name="date_of_inspection"/></td>
            <td><input type="text" id="welding-process" name="welding_process" /></td>
            <td><input type="text" id="type-of-welding" name="type_of_welding" /></td>
            <td> <input type="text" id="backing" name="backing" /></td>
            <td><input type="text"id="type-of-weld-joint" name="typeof_weld"/> </td> 
            <td><input type="text" id="thickness" name="thickness" /></td>
            <td><input type="text" id="product-type" name="product_type" /></td>
            <td> <input type="text" id="diameter-of-pipe" name="diameter_of_pipe" /></td>
            <td> <input type="text" id="base-metal-p-number" name="base_metal_p_no"/></td>
            <td> <input type="text" id="filler-metal-spec" name="sfa"/></td>
            <td> <input type="text" id="filler-metal-f-number" name="s"/></td>
            <td> <input type="text" id="filler-metal-addition" name="gtaw_paw"/></td>
            <td> <input type="text" id="deposit-thickness" name="deposit_thickness"/></td>
            <td><input type="text" id="welding-position" name="welding_position" /></td>
            <td> <input type="text"  id="vertical-progression" name="vertical_progression"/></td>
            <td> <input type="text" id="type-of-fuel-gas" name="ofw" /></td>
            <td>  <input type="text" id="inert-gas-backing" name="inert_gas"/></td>
            <td> <input type="text" id="transfer-mode" name="transfer_mode" /></td>
            <td> <input type="text" id="current-type" name="type_polarity" /></td>
            <td>  <input type="text" id="voltage" name="voltage" /></td>
            <td><input type="text" id="current" name="current" /></td>
            <td> <input type="text" id="travel-speed" name="travel_speed" /></td>
            <td> <input type="text" id="interpass-temperature" name="interpass_temperature"/></td>
            <td><input type="text" id="pre-heat" name="pre_heat" /></td>
            <td> <input type="text" id="post-weld-heat-treatment" name="post_weld"/></td>      
            <td> <input style="text-transform: lowercase;" required type="text" id="status" name="status"/></td> 
             </tr>
             
            </tbody>
         
            <!-- <button id="send-data" value="Save" style="text-decoration: none; background-color: green; color: white;" /> -->
            <a class="add-row" style=" width:2%; text-decoration: none; text-align: center; padding: 5px; background-color: green; color: white;" href="#">ADD ROW</a>
         
          </table>
       
      </div>      
      </div>
    </div>
    <br>
    <div>
      <div>
        <label for="">Prepared By :</label>
        <input type="text" name="prep_by" id="prep_by">
      </div>
      <div>
        <label for="">Project Details :</label>
        <input type="text" name="project_details" id="project_details">
      </div>
      <div>
        <label for="">Contract Details :</label>
        <input type="text" name="contract_details" id="contract_details">
      </div>
      <div>
        <label for="">Client :</label>
        <input type="text" name="client" id="client">
      </div>
      <!-- <div>
        <label for="">Approval :</label>
        <select name="status" id="status">
          <option value="accepted">Accepted</option>
          <option value="rejected">Rejected</option>
        </select>
      </div> -->
    </div>
  
    <button id="send-data"  style=" width: 10%; text-decoration: none; background-color: green; color: white; border-radius: 0%; margin: 10px 10px; ">SAVE</button>
   




    <script>
      // Function to add a new row with empty input fields
      function addRow() {
          const tableBody = document.getElementById('data-table-body');
          const newRow = document.createElement('tr');
          // Add your input fields and columns here (similar to the first row)
          // ...
          newRow.innerHTML = `
          <td> <input type="text" id="welder-id" name="welder_id" /></td>
          <td> <input type="text" id="welder-id" name="welder_name" /></td>
            <td><input type="text" id="iqama-number" name="iqama_no" /> </td> 
            <td><input type="text" id="test-coupon-id" name="test_coupon_id" /></td> 
            <td> <input type="text" id="date-of-inspection" name="date_of_inspection"/></td>
            <td><input type="text" id="welding-process" name="welding_process" /></td>
            <td><input type="text" id="type-of-welding" name="type_of_welding" /></td>
            <td> <input type="text" id="backing" name="backing" /></td>
            <td><input type="text"id="type-of-weld-joint" name="typeof_weld"/> </td> 
            <td><input type="text" id="thickness" name="thickness" /></td>
            <td><input type="text" id="product-type" name="product_type" /></td>
            <td> <input type="text" id="diameter-of-pipe" name="diameter_of_pipe" /></td>
            <td> <input type="text" id="base-metal-p-number" name="base_metal_p_number"/></td>
            <td> <input type="text" id="filler-metal-spec" name="sfa"/></td>
            <td> <input type="text" id="filler-metal-f-number" name="s"/></td>
            <td> <input type="text" id="filler-metal-addition" name="gtaw_paw"/></td>
            <td> <input type="text" id="deposit-thickness" name="deposit_thickness"/></td>
            <td><input type="text" id="welding-position" name="welding_position" /></td>
            <td> <input type="text"  id="vertical-progression" name="vertical_progression"/></td>
            <td> <input type="text" id="type-of-fuel-gas" name="ofw" /></td>
            <td>  <input type="text" id="inert-gas-backing" name="inert_gas"/></td>
            <td> <input type="text" id="transfer-mode" name="transfer_mode" /></td>
            <td> <input type="text" id="current-type" name="type_polarity" /></td>
            <td>  <input type="text" id="voltage" name="voltage" /></td>
            <td><input type="text" id="current" name="current" /></td>
            <td> <input type="text" id="travel-speed" name="travel_speed" /></td>
            <td> <input type="text" id="interpass-temperature" name="interpass_temperature"/></td>
            <td><input type="text" id="pre-heat" name="pre_heat" /></td>
            <td> <input type="text" id="post-weld-heat-treatment" name="post_weld"/></td>
            <td> <input style="text-transform: lowercase;" type="text" id="status" name="status"/></td>  
           
          `;
          tableBody.appendChild(newRow);
      }

      // Function to remove a row
      function removeRow(event) {
          const row = event.target.closest('tr');
          if (row) {
              row.remove();
          }
      }

      // Add event listener for the "Add" and "Remove" links
      document.addEventListener('click', function (event) {
          if (event.target.classList.contains('add-row')) {
              event.preventDefault();
              addRow();
          }
          if (event.target.classList.contains('remove-row')) {
              event.preventDefault();
              removeRow(event);
          }
      });



      function sendData() {
        const tableRows = document.querySelectorAll('#data-table-body tr');
        const data = [];
        const prep_by = document.getElementById('prep_by').value;
        const project_details = document.getElementById('project_details').value;
        const client = document.getElementById('client').value;
        // const status = document.getElementById('status').value;
        const contract = document.getElementById('contract_details').value;

        tableRows.forEach(row => {
            const rowData = {};
            row.querySelectorAll('input').forEach(input => {
              if (input.id === "welder-id"){
                if (input.value === "" || input.value === null || input.value === undefined){
                  sendDataButton.innerText = "Please Enter the welder_id"
                  return;
                }
              }

                rowData[input.name] = input.value;
                
            });
            data.push(rowData);
        });
        data.push({prep_by:prep_by,project_details:project_details,client:client,contract_details:contract})
        const sendDataButton = document.getElementById('send-data');
        sendDataButton.innerText = 'Saving...';

        fetch('/report/insert', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(async(response)   => { window.location= await response.text()})
        .then(result => {
            console.log(result); // Handle the server response as needed
            sendDataButton.innerText = 'Data Sent';
        })
        .catch(error => {
            console.error('Error:', error);
            sendDataButton.innerText = 'Error';
        });
    }

    // Add event listener for the "Send Data" link
    document.getElementById('send-data').addEventListener('click', function (event) {
        event.preventDefault();
        sendData();
    });
  </script>
  </body>
</html>
