<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Document</title>
</head>

<body style="width: 216mm; height: 279mm; margin: auto">
  <div class="card">
    <div class="flex-between">
      <img style="width: 150px; height: 100px;" class="logo" src="logo.png" alt="logo" />
      <div style="text-align: center; color: #14ab55">
        <p style="text-transform: uppercase">
          Ateco Arabian Testing Evolution
        </p>
        <p style="margin: 8px 0; font-size: 13px">
          شارع الزین العابدین, Ar Rabiyah, Dammam 32437
        </p>
        <p style="text-transform: uppercase">Welder Qualification Card</p>
      </div>
      <img style="width: 100px; height: 100px;" class="qrcode" src="qr.jpg" alt="QR Code" />
    </div>
    <div class="flex">
      <img style="width: 200px; height: 200px;" class="person-img"
        src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg" alt="Person" />
      <table id="table-1">
        <tbody>
          <tr>
            <td>Company</td>
            <td>: Company name</td>
          </tr>
          <tr>
            <td>Welder Name</td>
            <td>: Name</td>
          </tr>
          <tr>
            <td>Iqama No</td>
            <td>: ####</td>
          </tr>
          <tr>
            <td>Welder ID</td>
            <td>: AT-02</td>
          </tr>
          <tr>
            <td>Card No</td>
            <td>: CAL-2023-1213</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex-between" style="margin-top: 20px">
      <div>
        <p style="color: gray">Saroj Kumar Mani</p>
        <p style="margin-top: 3px">Authorized by</p>
      </div>
      <div>
        <p style="color: gray">Thafseer Thenisseri Kandy</p>
        <p style="margin-top: 3px">Welding Inspector</p>
      </div>
    </div>
    <p style="margin-top: 8px; font-size: 14px">
      This is to certify that this person has been tested in accordance with
      requirements of <span style="color: #14ab55">ASME SEC IX - 2021</span>
    </p>
  </div>
  <div style="border: 2px black solid; margin-top: 10px">
    <table id="table-2" style="width: 100%">
      <tr>
        <td>Card No</td>
        <td>CAL-2023-5362</td>
        <td>WPS/PQR No.</td>
        <td>RTCC-1620-QM-WE-WPS-01 REV C01</td>
      </tr>
      <tr>
        <td>Process</td>
        <td>SMAW(Manual)</td>
        <td>Joint Type</td>
        <td>SINGLE-V-Groove - BUTT</td>
      </tr>
      <tr>
        <td>Test Position</td>
        <td>5G</td>
        <td>Position Qualified</td>
        <td>F, V, O [Groove] & All [Fillet]</td>
      </tr>
      <tr>
        <td>Vertical Progression</td>
        <td>Uphill</td>
        <td>Test Thickness</td>
        <td>11.10mm</td>
      </tr>
      <tr>
        <td>Test Dia</td>
        <td>10 inch</td>
        <td rowspan="2">Range Qualified</td>
        <td rowspan="2">
          t(E7010-6mm Max, E8018-16.2mm Max), 0, D*2.7/8 inch to unlimited)
        </td>
      </tr>
      <tr>
        <td>P No Qualified</td>
        <td>P1 through P15F, P34, and P41 through P49</td>
      </tr>
      <tr>
        <td>F No Qualified</td>
        <td>F3(With or Without) & F1, F2, F4 (With Backing)</td>
        <td>Electrode Class Used</td>
        <td>E 7010-P1+38018-C3H4R</td>
      </tr>
      <tr>
        <td>Place of Issue</td>
        <td>Dammam</td>
        <td>Test Method</td>
        <td>Radiography</td>
      </tr>
      <tr>
        <td>Date of Test</td>
        <td>24/May/2023</td>
        <td>Date of Exp</td>
        <td>23/Nov/2023</td>
      </tr>
    </table>
    <p style="border: 2px black solid; padding: 5px; font-size: 15px">
      This card, on its own qualifies the welder for 6 months from the Date of
      test. Beynd this date welding records must be consulted to ensure the
      welder's qualification has been maintained.
    </p>
  </div>

  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      font-weight: 600;

    }

    .card {
      margin-top: 10px;
      padding: 10px;
      border: 4px black solid
    }

    .flex {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .flex-between {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      height: 150px;
      width: 200px
    }

    .qrcode {
      height: 150px;
      width: 150px;
    }

    .person-img {
      height: 200px;
      width: 200px;
      object-fit: cover
    }

    #table-1 {
      border-collapse: separate;
      border-spacing: 0 20px;
      /* Adjust the second value for vertical spacing */
    }

    #table-2 {
      border-collapse: separate;
      border-spacing: 0;
    }

    #table-2 td {
      border: 2px black solid;
      padding: 5px;
    }

    td:nth-child(even) {
      color: #14ab55;
      /* Apply your styling for even rows */
    }
  </style>
</body>

</html>